$primary-color:rgb(220, 44, 44);
$secondary-color:rgb(108, 102, 102);
$dark-background-color: #1f1f1f;


//sidebar
$sidebar-text-color:#fff;
$sidebar-background-color: #000;

//menu
$menu-background-color: #000;
