$primary-color: #c5fcfc;
$secondary-color: #2F3237;
// $dark-background-color: #bd2929;
$dark-accent-color: #242c31;
$pure-white: #e0eeee;
$htmlTagColor: #4a4b4d;
$placeholder-color: #545454;

// nice dark color #050810

//sidebar
$sidebar-text-color: #e0eeee;
$sidebar-background-color: #0c0d18;

//menu
$menu-background-color: #000;
