@import "./colors";

@mixin mediaMixin($minWidth, $fontWeight) {
  @media (min-width: $minWidth) {
    .single-letter {
      font-size: $fontWeight;
    }
    .single-word {
      height: $fontWeight;
    }
  }
}

@mixin htmlTag($text, $top, $right, $bottom, $left) {
  content: $text;
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  font-size: 0.65rem;
  font-family: "Protests", cursive;
  color: $htmlTagColor;
  letter-spacing: 3px;

  @media (min-width: 600px) {
    font-size: 0.85rem;
  }
}
