@import "../../../styles/colors";

:host {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  border-right: 1px solid rgba($color: $divider-line-color, $alpha: 0.5);
  z-index: 3;

  @media (min-width: 1024px) {
    flex-direction: column;
    width: 70px;
    height: 100vh;
    padding: 10px 0;
  }
}

.burger-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;

  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $sidebar-text-color;
      border-radius: 0px;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

      &:first-of-type {
        top: 0;
      }
      &:last-of-type {
        bottom: 0;
      }
    }
  }

  &.active {
    div {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          top: 5px;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          bottom: 5px;
        }
      }
    }
  }
}

.photo-of-me {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 80%;
  border-radius: 50%;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.social-media-links {
  display: none;
  flex-direction: column;

  a {
    padding: 15px;
  }

  @media (min-width: 1024px) {
    display: flex;
  }
}
