<div class="section-leading">
  <h2 appHeadingScroll>MY SKILLS</h2>
  <p class="subtitle">Technologies I've been working recently</p>
</div>

<div class="tiles">
  <div class="tile" data-cursor-text="Angular">
    <img
      src="../../../../assets/logos/Angular_full_color_logo.svg"
      alt="angular logo"
    />
  </div>
  <div class="tile" data-cursor-text="Git">
    <img src="../../../../assets/logos/Git_icon.svg" alt="git logo" />
  </div>
  <div class="tile" data-cursor-text="GSAP">
    <img src="../../../../assets/logos/gsap-greensock.svg" alt="gsap logo" />
  </div>
  <div class="tile" data-cursor-text="HTML5">
    <img src="../../../../assets/logos/html5.svg" alt="html5 logo" />
  </div>
  <div class="tile" data-cursor-text="java">
    <img src="../../../../assets/logos/Java_Logo.svg" alt="java logo" />
  </div>
  <div class="tile" data-cursor-text="javascript">
    <img src="../../../../assets/logos/javascript.svg" alt="javascript logo" />
  </div>
  <div class="tile" data-cursor-text="postgres">
    <img src="../../../../assets/logos/postgres.svg" alt="postgres logo" />
  </div>
  <div class="tile" data-cursor-text="sass">
    <img src="../../../../assets/logos/sass.svg" alt="sass logo" />
  </div>
  <div class="tile" data-cursor-text="Spring">
    <img src="../../../../assets/logos/spring.svg" alt="spring logo" />
  </div>
  <div class="tile" data-cursor-text="tailwind">
    <img src="../../../../assets/logos/tailwind.svg" alt="tailwind logo" />
  </div>
  <div class="tile" data-cursor-text="typescript">
    <img src="../../../../assets/logos/typescript.svg" alt="typescript logo" />
  </div>
</div>
