@import "../../../styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    height: 100vh;
  }
}

.header-left {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12em;
  @media (min-width: 768px) {
    width: 50%;
    margin-top: 0;
  }

  .welcome-header {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Catamaran", "arial";

    &::before {
      @include htmlTag("<BODY>", -80px, unset, unset, -15px);

      @media (min-width: 768px) {
        @include htmlTag("<BODY>", -80px, unset, unset, -30px);
      }
    }

    &::after {
      @include htmlTag("<HTML>", -100px, unset, unset, -20px);
      @media (min-width: 768px) {
        @include htmlTag("<HTML>", -100px, unset, unset, -40px);
      }
    }

    h1 {
      position: relative;
      font-size: 12vw;
      line-height: 10vw;
      letter-spacing: 0px;
      display: flex;
      flex-direction: column;
      font-weight: 900;

      div {
        animation: welcome-animation 1s;
        &:nth-child(1) {
          animation-delay: 2s;
        }
        &:nth-child(2) {
          animation-delay: 2.1s;
        }
        &:nth-child(3) {
          animation-delay: 2.2s;
        }
      }

      @media (min-width: 768px) {
        font-size: 5vw;
        line-height: 4vw;
      }

      &::before {
        @include htmlTag("<H1>", -50px, unset, unset, -10px);

        @media (min-width: 600px) {
          @include htmlTag("<H1>", -60px, unset, unset, -20px);
        }
      }

      &::after {
        @include htmlTag("</H1>", unset, -20px, -50px, unset);
        @media (min-width: 600px) {
          @include htmlTag("</H1>", unset, -36px, -60px, unset);
        }
      }

      .text-accent {
        text-shadow: $placeholder-color -1vw 1vw;

        @media (min-width: 768px) {
          text-shadow: $placeholder-color -4px 4px;
        }
        @media (min-width: 1280px) {
          text-shadow: $placeholder-color -5px 5px;
        }
      }
    }

    p {
      position: relative;
      font-size: 1.2rem;
      font-weight: 600;
      padding-top: 4rem;

      &::before {
        @include htmlTag("<P>", 3rem, unset, unset, -1rem);
      }

      &::after {
        @include htmlTag("</P>", unset, unset, -1rem, unset);
      }
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: canvas-animation 1s 2.2s;
  align-self: center;
  margin-top: -70px;

  @media (min-width: 768px) {
    width: 50%;
    margin-top: 0;
  }

  canvas {
    width: 900px;
    height: 600px;
    transform: scale(0.7);

    @media (min-width: 768px) {
    }

    @media (min-width: 900px) {
      transform: scale(0.8);
    }

    @media (min-width: 1024px) {
      transform: scale(0.9);
    }

    @media (min-width: 1280px) {
      transform: scale(1);
    }
  }
}

@keyframes welcome-animation {
  0%,
  50% {
    // filter: blur(20px);
    transform: translate(0, 100%) rotateX(75deg) skew(-30deg, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0) rotateX(0) skew(0);
    opacity: 1;
  }
}

@keyframes canvas-animation {
  0% {
    // filter: blur(10px);
    transform: translate(0, 100%) rotateX(130deg) skew(-10deg, -30deg);
    opacity: 0;
    height: 0;
  }

  100% {
    transform: translate(0) rotateX(0) skew(0);
    opacity: 1;
    height: 100%;
  }
}
