@import "../../../styles/colors";
@import "../../../styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Manrope";
}

h2 {
  position: relative;
  align-self: start;
  width: fit-content;
  margin: 10vw 4vw;
  font-size: 15vw;
  line-height: 12vw;
  font-weight: 900;
  text-wrap: nowrap;
  background: linear-gradient(
    to right,
    $pure-white 50%,
    $dark-accent-color 50%
  );
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;

  &::before {
    font-weight: 100;
    @include htmlTag("<H2>", -10vw, unset, unset, -2vw);
  }

  &::after {
    font-weight: 100;
    @include htmlTag("</H2>", unset, -4vw, -10vw, unset);
  }

  @media (min-width: 768px) {
    font-size: 11.5vw;
    line-height: 9vw;
    margin: 6vw 4vw;
    &::before {
      font-weight: 100;
      @include htmlTag("<H2>", -6vw, unset, unset, -2vw);
    }

    &::after {
      font-weight: 100;
      @include htmlTag("</H2>", unset, -4vw, -6vw, unset);
    }
  }
}

p {
  position: relative;
  margin: 10px 20px;
  font-size: 1rem;
  text-align: justify;

  @media (min-width: 768px) {
    margin: 10px 10%;
    font-size: 1.1rem;
  }

  @media (min-width: 1024px) {
    margin: 10px 25%;
    font-size: 1.1rem;
  }

  &:first-of-type {
    &::before {
      font-weight: 100;
      @include htmlTag("<P>", -3vw, unset, unset, -2vw);
    }
  }

  &:last-of-type {
    &::after {
      font-weight: 100;
      @include htmlTag("</P>", unset, -2vw, -3vw, unset);
    }
  }
}
