@import "../../../styles/colors";
@import "../../../styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Manrope", sans-serif;
  margin-top: 4vw;
}

h2 {
  position: relative;
  align-self: start;
  width: fit-content;
  margin: 0vw 4vw 10vw;
  font-size: 15vw;
  line-height: 12vw;
  font-weight: 900;
  text-wrap: nowrap;
  background: linear-gradient(
    to right,
    $pure-white 50%,
    $dark-accent-color 50%
  );
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;

  &::before {
    font-weight: 100;
    @include htmlTag("<H2>", -10vw, unset, unset, -2vw);
  }

  &::after {
    font-weight: 100;
    @include htmlTag("</H2>", unset, -4vw, -10vw, unset);
  }

  @media (min-width: 768px) {
    font-size: 11.5vw;
    line-height: 9.5vw;
    margin: 2vw 4vw 6vw;
    &::before {
      font-weight: 100;
      @include htmlTag("<H2>", -6vw, unset, unset, -2vw);
    }

    &::after {
      font-weight: 100;
      @include htmlTag("</H2>", unset, -4vw, -6vw, unset);
    }
  }
}

.about-wrapper {
  display: flex;
  justify-content: space-around;

  .img-container {
    width: 30%;
    display: none;
    transform: translateY(-30%);

    @media (min-width: 1024px) {
      display: flex;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      width: 60%;
      font-size: 1.3rem;
    }

    p {
      position: relative;
      padding: 0 5%;
      margin: 10px 0;
      font-size: 1.1rem;
      text-align: justify;
      font-family: "Syne";
      opacity: 0;
      transform: translateY(30%);

      @media (min-width: 768px) {
        margin: 10px 0;
        font-size: 1.2rem;
      }

      @media (min-width: 1024px) {
        margin: 10px 0;
        font-size: 1.3rem;
      }

      &:first-of-type {
        &::before {
          font-weight: 100;
          @include htmlTag("<P>", -3vw, unset, unset, -2vw);
        }
      }

      &:last-of-type {
        &::after {
          font-weight: 100;
          @include htmlTag("</P>", unset, -2vw, -3vw, unset);
        }
      }
    }
  }
}
