:host{
    display: flex;
    height: 100dvh;
    position: relative;
    margin-left:70px ;
    background-color: #111111;
}

canvas{
    align-self: center;
    margin: 0 auto;
    width: calc(100vw - 100px);
    height: 100vh
    // border: 1px solid black;
}