@import "../../../styles/colors";
@import "../../../styles/mixins";

:host {
  margin-top: 5rem;

  @media (min-width: 768px) {
    margin-top: 4vw;
  }
}

h2 {
  position: relative;
  align-self: start;
  width: fit-content;
  margin: 0 4vw 7vw;
  font-size: 15vw;
  line-height: 12vw;
  font-weight: 900;
  text-wrap: nowrap;
  background: linear-gradient(
    to right,
    $pure-white 50%,
    $dark-accent-color 50%
  );
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;

  &::before {
    font-weight: 100;
    @include htmlTag("<H2>", -10vw, unset, unset, -2vw);
  }

  &::after {
    font-weight: 100;
    @include htmlTag("</H2>", unset, -4vw, -10vw, unset);
  }

  @media (min-width: 768px) {
    font-size: 11.5vw;
    line-height: 9.5vw;
    margin: 2vw 4vw 4vw;

    &::before {
      font-weight: 100;
      @include htmlTag("<H2>", -6vw, unset, unset, -2vw);
    }

    &::after {
      font-weight: 100;
      @include htmlTag("</H2>", unset, -4vw, -6vw, unset);
    }
  }
}

p {
  display: inline-block;
  position: relative;
  margin: 0 0 10vw 4vw;
  font-family: "Manrope";
  font-size: 0.9rem;
  letter-spacing: 2px calc(max);

  @media (min-width: 768px) {
    margin: 0 0 6vw 8vw;
    font-size: 1.1rem;
  }

  &::before {
    font-weight: 100;
    @media (max-width: 1024px) {
      @include htmlTag("<P>", -3vw, unset, unset, -3vw);
    }

    @media (min-width: 1024px) {
      @include htmlTag("<P>", -1.5vw, unset, unset, -1.5vw);
    }
  }

  &::after {
    font-weight: 100;
    @media (max-width: 1024px) {
      @include htmlTag("</P>", unset, -3vw, -3vw, unset);
    }

    @media (min-width: 1024px) {
      @include htmlTag("</P>", unset, -2vw, -1.5vw, unset);
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-gap: 20px;

    label {
      position: relative;

      &:nth-child(n + 3) {
        grid-column: span 2;
      }

      textarea {
        grid-column: span 2;
        height: 200px;
        min-height: 100px;
        min-width: 100%;
        max-width: 100%;
      }

      .invalid-line {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 0;
        height: 1px;
        margin: 0 auto;
        background-color: $danger-color;
        transition: width 0.3s cubic-bezier(0.6, 0, 0.1, 1);
      }

      textarea ~ span {
        bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        background-color: $dark-accent-color;
        padding: 20px;
        border: none;
        border-radius: 4px;
        font-family: "Manrope";
        font-weight: 900;
        font-size: 1rem;
        color: rgba($color: $pure-white, $alpha: 0.8);
        &:focus {
          outline: none;
        }

        &::-webkit-input-placeholder {
          color: $placeholder-color;
        }

        &::-moz-placeholder {
          color: $placeholder-color;
        }

        &::-ms-placeholder {
          color: $placeholder-color;
        }

        &::placeholder {
          color: $placeholder-color;
        }

        &.ng-touched.ng-invalid {
          & + span {
            width: calc(100% - 6px);
          }
        }
      }
      .sent-confirmation {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 1rem;
        width: 100%;
        height: 0;
        background-color: $success-color;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.6, 0, 0.1, 1);
        span {
          font-size: 1.2rem;
          font-weight: 500;
        }

        &.show{
          height: 3rem;
        }
      }
    }

    button {
      grid-column-end: -1;
      justify-self: flex-end;
      margin-right: 2rem;
      display: flex;
      grid-column: span 2;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    app-magnetic-link-button {
      padding: 50px;
    }

    @media (max-width: 1024px) {
      &::before {
        font-weight: 100;
        @include htmlTag("<FORM>", -4vw, unset, unset, -1vw);
      }
    }

    @media (min-width: 1024px) {
      width: 60%;
      &::before {
        font-weight: 100;
        @include htmlTag("<FORM>", -2.5vw, unset, unset, -1vw);
      }
    }

    &::after {
      font-weight: 100;
      @include htmlTag("</FORM>", unset, -1vw, -1vw, unset);
    }
  }

  .map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;

    @media (min-width: 1024px) {
      margin-top: 0;
      width: 40%;
    }

    google-map {
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      height: 500px;

      @media (min-width: 1024px) {
        position: absolute;
        height: calc(100% + 6vw);
        right: -40px;
        top: calc(-6vw - 26px);
        border-radius: 10px 0 0 10px;
      }
    }
  }
}
