<div class="section-leading">
  <h2 appHeadingScroll>MY SKILLS</h2>
  <p class="subtitle">Technologies I've been working recently</p>
</div>

<div class="tiles forward">
  <div class="tiles-moving-bar">
    <div class="tile" data-cursor-text="Angular">
      <img
        src="../../../../assets/logos/Angular_full_color_logo.svg"
        alt="angular logo"
      />
    </div>
    <div class="tile" data-cursor-text="Git">
      <img src="../../../../assets/logos/Git_icon.svg" alt="git logo" />
    </div>
    <div class="tile" data-cursor-text="GSAP">
      <img src="../../../../assets/logos/gsap-greensock.svg" alt="gsap logo" />
    </div>
    <div class="tile" data-cursor-text="HTML5">
      <img src="../../../../assets/logos/html5.svg" alt="html5 logo" />
    </div>
    <div class="tile" data-cursor-text="Java">
      <img src="../../../../assets/logos/Java_Logo.svg" alt="java logo" />
    </div>
    <div class="tile" data-cursor-text="Javascript">
      <img
        src="../../../../assets/logos/javascript.svg"
        alt="javascript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Postgres">
      <img src="../../../../assets/logos/postgres.svg" alt="postgres logo" />
    </div>
    <div class="tile" data-cursor-text="Sass">
      <img src="../../../../assets/logos/sass.svg" alt="sass logo" />
    </div>
    <div class="tile" data-cursor-text="Spring">
      <img src="../../../../assets/logos/spring.svg" alt="spring logo" />
    </div>
    <div class="tile" data-cursor-text="Tailwind">
      <img src="../../../../assets/logos/tailwind.svg" alt="tailwind logo" />
    </div>
    <div class="tile" data-cursor-text="Typescript">
      <img
        src="../../../../assets/logos/typescript.svg"
        alt="typescript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Docker">
      <img
        src="../../../../assets/logos/docker-svgrepo-com.svg"
        alt="docker logo"
      />
    </div>
  </div>
  <div class="tiles-moving-bar">
    <div class="tile" data-cursor-text="Angular">
      <img
        src="../../../../assets/logos/Angular_full_color_logo.svg"
        alt="angular logo"
      />
    </div>
    <div class="tile" data-cursor-text="Git">
      <img src="../../../../assets/logos/Git_icon.svg" alt="git logo" />
    </div>
    <div class="tile" data-cursor-text="GSAP">
      <img src="../../../../assets/logos/gsap-greensock.svg" alt="gsap logo" />
    </div>
    <div class="tile" data-cursor-text="HTML5">
      <img src="../../../../assets/logos/html5.svg" alt="html5 logo" />
    </div>
    <div class="tile" data-cursor-text="Java">
      <img src="../../../../assets/logos/Java_Logo.svg" alt="java logo" />
    </div>
    <div class="tile" data-cursor-text="Javascript">
      <img
        src="../../../../assets/logos/javascript.svg"
        alt="javascript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Postgres">
      <img src="../../../../assets/logos/postgres.svg" alt="postgres logo" />
    </div>
    <div class="tile" data-cursor-text="Sass">
      <img src="../../../../assets/logos/sass.svg" alt="sass logo" />
    </div>
    <div class="tile" data-cursor-text="Spring">
      <img src="../../../../assets/logos/spring.svg" alt="spring logo" />
    </div>
    <div class="tile" data-cursor-text="Tailwind">
      <img src="../../../../assets/logos/tailwind.svg" alt="tailwind logo" />
    </div>
    <div class="tile" data-cursor-text="Typescript">
      <img
        src="../../../../assets/logos/typescript.svg"
        alt="typescript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Docker">
      <img
        src="../../../../assets/logos/docker-svgrepo-com.svg"
        alt="docker logo"
      />
    </div>
  </div>
</div>
<div class="tiles backward">
  <div class="tiles-moving-bar">
    <div class="tile" data-cursor-text="Angular">
      <img
        src="../../../../assets/logos/Angular_full_color_logo.svg"
        alt="angular logo"
      />
    </div>
    <div class="tile" data-cursor-text="Git">
      <img src="../../../../assets/logos/Git_icon.svg" alt="git logo" />
    </div>
    <div class="tile" data-cursor-text="GSAP">
      <img src="../../../../assets/logos/gsap-greensock.svg" alt="gsap logo" />
    </div>
    <div class="tile" data-cursor-text="HTML5">
      <img src="../../../../assets/logos/html5.svg" alt="html5 logo" />
    </div>
    <div class="tile" data-cursor-text="Java">
      <img src="../../../../assets/logos/Java_Logo.svg" alt="java logo" />
    </div>
    <div class="tile" data-cursor-text="Javascript">
      <img
        src="../../../../assets/logos/javascript.svg"
        alt="javascript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Postgres">
      <img src="../../../../assets/logos/postgres.svg" alt="postgres logo" />
    </div>
    <div class="tile" data-cursor-text="Sass">
      <img src="../../../../assets/logos/sass.svg" alt="sass logo" />
    </div>
    <div class="tile" data-cursor-text="Spring">
      <img src="../../../../assets/logos/spring.svg" alt="spring logo" />
    </div>
    <div class="tile" data-cursor-text="Tailwind">
      <img src="../../../../assets/logos/tailwind.svg" alt="tailwind logo" />
    </div>
    <div class="tile" data-cursor-text="Typescript">
      <img
        src="../../../../assets/logos/typescript.svg"
        alt="typescript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Docker">
      <img
        src="../../../../assets/logos/docker-svgrepo-com.svg"
        alt="docker logo"
      />
    </div>
  </div>
  <div class="tiles-moving-bar">
    <div class="tile" data-cursor-text="Angular">
      <img
        src="../../../../assets/logos/Angular_full_color_logo.svg"
        alt="angular logo"
      />
    </div>
    <div class="tile" data-cursor-text="Git">
      <img src="../../../../assets/logos/Git_icon.svg" alt="git logo" />
    </div>
    <div class="tile" data-cursor-text="GSAP">
      <img src="../../../../assets/logos/gsap-greensock.svg" alt="gsap logo" />
    </div>
    <div class="tile" data-cursor-text="HTML5">
      <img src="../../../../assets/logos/html5.svg" alt="html5 logo" />
    </div>
    <div class="tile" data-cursor-text="Java">
      <img src="../../../../assets/logos/Java_Logo.svg" alt="java logo" />
    </div>
    <div class="tile" data-cursor-text="Javascript">
      <img
        src="../../../../assets/logos/javascript.svg"
        alt="javascript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Postgres">
      <img src="../../../../assets/logos/postgres.svg" alt="postgres logo" />
    </div>
    <div class="tile" data-cursor-text="Sass">
      <img src="../../../../assets/logos/sass.svg" alt="sass logo" />
    </div>
    <div class="tile" data-cursor-text="Spring">
      <img src="../../../../assets/logos/spring.svg" alt="spring logo" />
    </div>
    <div class="tile" data-cursor-text="Tailwind">
      <img src="../../../../assets/logos/tailwind.svg" alt="tailwind logo" />
    </div>
    <div class="tile" data-cursor-text="Typescript">
      <img
        src="../../../../assets/logos/typescript.svg"
        alt="typescript logo"
      />
    </div>
    <div class="tile" data-cursor-text="Docker">
      <img
        src="../../../../assets/logos/docker-svgrepo-com.svg"
        alt="docker logo"
      />
    </div>
  </div>
</div>
