@if((isMenuOpen$ | async)){
<div class="transition" @slideFirstDiv></div>
<div class="transition" @slideSecondDiv></div>
} @if((isPreLoaded | async) === false){
<app-loader @openDelay></app-loader>
}@else {
<div class="transition" @slideFirstDiv></div>
<div class="transition" @slideSecondDiv></div>
}

<app-sidebar></app-sidebar> @if (isMenuOpen$ | async){<app-menu
  @openDelay
></app-menu

>}
  @if((isMobile$ | async)=== false){<app-background-smoke></app-background-smoke>}

<app-magnetic-cursor/>
<div class="wrapper">
  <router-outlet />
  <app-footer></app-footer>
</div>

