@import "./styles/colors";

.wrapper {
  @media (min-width: 1024px) {
    width: calc(100% - 70px);
    margin-left: 70px;
    overflow: hidden;
  }
}


.transition {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  border-radius: 80% 80% 0 0/ 40% 40% 0 0;
}
