@import "../../../styles/colors";
@import "../../../styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  font-family: "Manrope";
}

h3 {
  position: relative;
  font-size: 8.2vw;
  text-wrap: nowrap;
  text-align: center;
  padding: 30px 0 10px;
  margin-bottom: 50px;
  font-weight: 900;
  letter-spacing: -2px;
  color: $dark-accent-color;

  @media (min-width: 768px) {
    font-size: 7.6vw;
    letter-spacing: -4px;
    margin: 50px 0;
    font-weight: bolder;
    padding: 0;
  }

  &::before {
    @include htmlTag("<HTML>", unset, 0px, -30px, unset);
  }

  &::after {
    @include htmlTag("<BODY>", unset, 20px, -10px, unset);
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 4%;
    right: 4%;
    height: 1px;

    background-color: rgba($color: $divider-line-color, $alpha: 0.5);
  }

  p {
    margin-left: 2%;
    font-size: 1.2rem;
    text-wrap: nowrap;

    @media (min-width: 640px) {
      margin-left: 4%;
    }
  }

  .social-media-links {
    display: flex;
    margin-right: 2%;

    a {
      font-size: 1.2rem;
      padding: 0 4px;
      margin: 0 4px;
    }

    @media (min-width: 640px) {
      margin-right: 4%;
      a {
        padding: 0 10px;
      }
    }
  }
}
