<div class="divide-line"></div>
<ul>
    <li>
      <div class="single-word">
        <div class="single-letter">H</div>
        <div class="single-letter">O</div>
        <div class="single-letter">M</div>
        <div class="single-letter">E</div>
      </div>
      <div class="single-word">
        <div class="single-letter">H</div>
        <div class="single-letter">O</div>
        <div class="single-letter">M</div>
        <div class="single-letter">E</div>
      </div>
    </li>
    <li>
      <div class="single-word">
        <div class="single-letter">W</div>
        <div class="single-letter">O</div>
        <div class="single-letter">R</div>
        <div class="single-letter">K</div>
      </div>
      <div class="single-word">
          <div class="single-letter">W</div>
          <div class="single-letter">O</div>
          <div class="single-letter">R</div>
          <div class="single-letter">K</div>
        </div>
    </li>
    <li>
      <div class="single-word">
        <div class="single-letter">A</div>
        <div class="single-letter">B</div>
        <div class="single-letter">O</div>
        <div class="single-letter">U</div>
        <div class="single-letter">T</div>
      </div>
      <div class="single-word">
          <div class="single-letter">A</div>
          <div class="single-letter">B</div>
          <div class="single-letter">O</div>
          <div class="single-letter">U</div>
          <div class="single-letter">T</div>
        </div>
    </li>
    <li>
      <div class="single-word">
        <div class="single-letter">C</div>
        <div class="single-letter">O</div>
        <div class="single-letter">N</div>
        <div class="single-letter">T</div>
        <div class="single-letter">A</div>
        <div class="single-letter">C</div>
        <div class="single-letter">T</div>
      </div>
      <div class="single-word">
          <div class="single-letter">C</div>
          <div class="single-letter">O</div>
          <div class="single-letter">N</div>
          <div class="single-letter">T</div>
          <div class="single-letter">A</div>
          <div class="single-letter">C</div>
          <div class="single-letter">T</div>
        </div>
    </li>
  </ul>
  