<div class="section-leading">
  <h2 appHeadingScroll>PROJECTS</h2>
  <p class="subtitle">
    Explore my latest creations, showcasing the essence of my work.
  </p>
</div>
<div class="project">
  <div
    class="project-img"
    data-cursor-text="View project"
    appMagneticElementToCursor
    [options]="projectImgOptions"
  >
    <a href="/">
      <img src="../../../assets/projects-img/sendM.webp" alt=""
    /></a>
  </div>
  <div class="project-detail">
    <h3>SendM</h3>
    <p>
      "SendM is a communication platform leveraging advanced technologies such
      as WebSocket, Angular, and Server-Side Rendering, providing fast and
      secure real-time messaging. With instantaneous communication and a
      responsive user interface, users can easily and effectively communicate on
      both desktop and mobile devices.
    </p>
    <a href=""
      ><app-magnetic-link-button
        btnText="Visit"
        data-cursor="-opaque"
      ></app-magnetic-link-button
    ></a>
  </div>
</div>

<div class="project reverse">
  <div
    class="project-img"
    data-cursor-text="View project"
    appMagneticElementToCursor
    [options]="projectImgOptions"
  >
    <a href="/">
      <img src="../../../assets/projects-img/cupofbean.webp" alt=""
    /></a>
  </div>
  <div class="project-detail">
    <h3>CupOfBean</h3>
    <p>
      Our e-commerce platform, developed using Angular, provides users with a
      secure and intuitive shopping experience. Integrated with Stripe for
      payment processing, it offers seamless transactions, reliable order
      tracking, and effortless navigation.
    </p>
    <a href=""
      ><app-magnetic-link-button
        btnText="Visit"
        data-cursor="-opaque"
      ></app-magnetic-link-button
    ></a>
  </div>
</div>

<a href="/"
  ><app-magnetic-link-button
    btnText="See more on GitHub"
    data-cursor="-opaque"
  ></app-magnetic-link-button
></a>
