<div class="project">
  <div
    class="project-img"
    data-cursor-text="View project"
    appMagneticElementToCursor
    [options]="projectImgOptions"
  >
    <a href="/">
      <img src="../../../assets/projects-img/guvve_sUg2If5kc.webp" alt=""
    /></a>
  </div>
  <div class="project-detail">
    <h2>Lorem, ipsum dolor.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nostrum
      debitis voluptatibus quam sint! Nemo iure labore maiores debitis voluptas?
    </p>
    <a href=""
      ><app-magnetic-link-button
        data-cursor="-opaque"
      ></app-magnetic-link-button
    ></a>
  </div>
</div>

<div class="project reverse">
  <div class="project-img">
    <img src="../../../assets/projects-img/guvve_sUg2If5kc.webp" alt="" />
  </div>
  <div class="project-detail">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nostrum
      debitis voluptatibus quam sint! Nemo iure labore maiores debitis voluptas?
    </p>
    <button></button>
  </div>
</div>

<div class="project">
  <div class="project-img">
    <img src="../../../assets/projects-img/guvve_sUg2If5kc.webp" alt="" />
  </div>
  <div class="project-detail">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nostrum
      debitis voluptatibus quam sint! Nemo iure labore maiores debitis voluptas?
    </p>
    <button></button>
  </div>
</div>

<div class="project reverse">
  <div class="project-img">
    <img src="../../../assets/projects-img/guvve_sUg2If5kc.webp" alt="" />
  </div>
  <div class="project-detail">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nostrum
      debitis voluptatibus quam sint! Nemo iure labore maiores debitis voluptas?
    </p>
    <a href="/" class="magnetic-button"
      ><span class="button-background">visit</span></a
    >
  </div>
</div>
